// Color
$color-primary: #353535;
$color-second: #0a3643;
$color-title: #fab702;
$color-hover: #F3C500;
$color-white: #ffffff;

// Background
$background-primary: #fab702;
$background-hover: #F3C500;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;