.element-info-box {
  @include flexbox();

  &__icon {
    @include flex(0 0 auto);

    .icon-box {
      i, svg {
        @include transition();
      }
    }
  }

  &__content {
    @include flex(1);
  }

  &.icon-on-top {
    @include flex-direction(column);
  }

  &.icon-on-right {
    text-align: right;
    @include flex-direction(row-reverse);
  }
}

.infobox-content-align-center {
  .element-info-box {
    text-align: center;
  }
}

.infobox-content-align-right {
  .element-info-box {
    text-align: right;
  }
}